body {
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 179, 189, 1) 2%,
    rgba(254, 248, 154, 1) 51%,
    rgba(161, 224, 186, 1) 100%
  );
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

input {
  border-radius: 10px;
  border: 2px solid rgb(56, 45, 100);
  text-align: center;
  padding: 5px;
}
input:focus {
  /* background-color: white; */
  /* background-color: black; */
  border: 2px solid black !important ;
  transform: scale(1.1);
}

li {
  color: black;
}
.show{
    margin-left: 20px;
}
ul {
    list-style-type: none; 
}
.icono{
    margin-right: 10px;
}
